li{ 
    display: inline;
    border: rgb(0, 4, 255) 8px dotted;
    color: rgb(1, 1, 3);
    background-color: rgb(255, 255, 255);
    font-size:xx-large;
    margin: 10px;
}
body{
    background-color: black;
    color: white;
}